* {
    font-family: 'Yeseva One', serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 200px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-el {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

#main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.personal {
    display: flex;
    justify-content: center;
}

.info, .profile-pic {
    padding: 1.5rem;
    margin: 0 6rem;
}

h1, h2 {
    padding: 10px;
}


p { 
    width: 400px;
    position: relative;
    left: 20px;
    padding: 20px;
}

.profile-pic img {
    width: 280px;
    height: 300px;
    border: solid 0.5rem chocolate;
}
